*{
	padding: 0;
	margin: 0;
}

body{
	background: RGBA(215,249,241,0.49)
}

header, .main, footer{
	background: rgba(122,160,149,0.2);
	margin:30px auto;
	width: 90%;
	max-width: 1000px;
}

.inicio img{
	float: left;
	width: 70px;
	margin: 20px 10px;
	border-radius: 50%;
}	

.inicio h2{
	float: left;
	margin: 30px 10px;
	text-shadow: 5px 4px 2px rgba(122,160,149,1);
	font-size: 30px
}


header nav{
	clear: both;
}

header nav ul{
	list-style: none;
	background:  #40531B;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

header nav ul li{
	float: left;
}

header nav ul li a{
	text-decoration: none;
	padding: 10px 9px;
	display: block;
	color: #fff;
}

header nav ul li a:hover{
	background-color: #618B4A
}

.main .articles	{
	margin-right: 1.5%;
	width: 68.5%;
	float: left;
}

.main .articles	article{
	margin-bottom: 20px;
	padding: 10px;
	border-bottom: 1px solid grey;
}

.main aside{
	width: 30%;
	background: #AFBC88;
	float: left;
}

.main video{
	width: 100%	;
}

.amor{
	text-align: center;
	padding: 5px;
	text-shadow: 2px 2px 10px pink;
}

footer{
	margin-top: 10px;
	clear: both;
	padding: 6px;
	background-color: rgba(175,188,136,0.2);
	text-align: center;
	font-size: 15px
}